In [33]:
import numpy as np
import pandas as pd

In [34]:
df = pd.read_csv("movies.csv")
df.head()

              actor                    movie_or_TV_name
0  Melanie MacQueen  The Fina Mendoza Mysteries podcast
1  Melanie MacQueen                               A S K
2  Melanie MacQueen                          Kroll Show
3  Melanie MacQueen                Infinity Strategists
4  Melanie MacQueen                      Sons of Tucson

In [35]:
summaries = df.groupby("movie_or_TV_name").count()
summaries = summaries.sort_values(['actor'], ascending=False).rename(columns={'actor':'number of shared actors'})
summaries = summaries.reset_index()
summaries.head(10)

                                    movie_or_TV_name  number of shared actors
0                                 My Neighbor Totoro                       62
1                             Fist of the North Star                       15
2                            Kiki's Delivery Service                       14
3                                           Robotech                       14
4                                        Wicked City                       13
5  Captain Harlock and the Queen of a Thousand Years                       12
6                                     Urusei yatsura                       12
7                          Robotech: Love Live Alive                       12
8                        Twilight of the Cockroaches                       12
9                                 Codename: Robotech                       12